# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/clickeco/vitaepro.com.au"
PassengerBaseURI "/"
PassengerNodejs "/home/clickeco/nodevenv/vitaepro.com.au/20/bin/node"
PassengerAppType node
PassengerStartupFile server.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
